In [12]:
import pandas as pd
import numpy as np

## Importing all the datasets separately

In [2]:
World_happiness = pd.read_csv("Data_project/World_happiness/2018.csv")

In [4]:
World_happiness

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [17]:
Migration_per_country = pd.read_csv("Data_project/Migration_per_country.csv")

In [18]:
#Migration_per_country #Needs fixing

,CO2,Country of birth/nationality,VAR,Variable,GEN,Gender,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2000,2000,887.0,NaN,NaN
1,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2001,2001,456.0,NaN,NaN
2,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2002,2002,660.0,NaN,NaN
3,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2003,2003,1015.0,NaN,NaN
4,AFG,Afghanistan,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2004,2004,1340.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
477771,MKD,North Macedonia,B12,Outflows of foreign population by nationality,TOT,Total,TUR,Turkey,2018,2018,328.0,NaN,NaN
477772,MRT,Mauritania,B12,Outflows of foreign population by nationality,TOT,Total,TUR,Turkey,2018,2018,74.0,NaN,NaN
477773,QAT,Qatar,B12,Outflows of foreign population by nationality,TOT,Total,TUR,Turkey,2018,2018,39.0,NaN,NaN
477774,NS,Not stated,B12,Outflows of foreign population by nationality,TOT,Total,TUR,Turkey,2018,2018,2314.0,NaN,NaN
477775,NS,Not stated,B14,Stock of foreign-born population by country of...,TOT,Total,TUR,Turkey,2018,2018,163.0,NaN,NaN

In [17]:
Global_travel = pd.read_excel("Data_project/Global_travel/global_travel_inbound.xls")

In [19]:
# Global_travel Needs fixing

In [16]:
Human_dev_index = pd.read_csv("Data_project/Human_Development.csv")

In [17]:
Human_dev_index #to be animated

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,168,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.437,0.453,0.463,0.471,0.482,0.487,0.491,0.493,0.494,0.498
1,68,Albania,0.645,0.626,0.610,0.613,0.619,0.632,0.641,0.641,...,0.724,0.729,0.741,0.752,0.767,0.771,0.773,0.776,0.782,0.785
2,85,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.608,0.617,...,0.709,0.719,0.729,0.736,0.740,0.745,0.747,0.749,0.753,0.754
3,35,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.831,0.830,0.828,0.827,0.849,0.850,0.853,0.854,0.856,0.858
4,147,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.502,0.522,0.520,0.535,0.543,0.554,0.564,0.572,0.577,0.581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,78,Venezuela (Bolivarian Republic of),0.634,0.644,0.651,0.653,0.654,0.658,0.660,0.664,...,0.753,0.753,0.759,0.771,0.774,0.776,0.778,0.775,0.766,0.761
185,116,Viet Nam,0.475,0.484,0.496,0.506,0.517,0.529,0.540,0.539,...,0.640,0.656,0.654,0.664,0.670,0.675,0.678,0.684,0.689,0.694
186,178,Yemen,0.399,0.403,0.405,0.408,0.409,0.415,0.422,0.427,...,0.485,0.491,0.498,0.499,0.505,0.507,0.505,0.483,0.462,0.452
187,144,Zambia,0.401,0.402,0.403,0.409,0.408,0.412,0.416,0.419,...,0.517,0.533,0.544,0.556,0.569,0.574,0.580,0.583,0.586,0.588
188,156,Zimbabwe,0.491,0.494,0.481,0.476,0.473,0.467,0.466,0.459,...,0.439,0.450,0.467,0.478,0.505,0.516,0.525,0.529,0.532,0.535

In [15]:
Human_fredom_index = pd.read_csv("Data_project/Human_fredom_index/hfi_cc_2018.csv")

In [14]:
Human_fredom_index # ony up to 2016 could be animated or could be compared with 2016 happiness data

,year,ISO_code,countries,region,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
0,2016,ALB,Albania,Eastern Europe,6.661503,4.547244,4.666508,5.291752,8.920429,10.0,...,4.050196,7.324582,7.074366,6.705863,6.906901,7.54,34.0,7.568140,48.0,2.0
1,2016,DZA,Algeria,Middle East & North Africa,NaN,NaN,NaN,3.819566,9.456254,10.0,...,3.765515,8.523503,7.029528,5.676956,5.268992,4.99,159.0,5.135886,155.0,4.0
2,2016,AGO,Angola,Sub-Saharan Africa,NaN,NaN,NaN,3.451814,8.060260,5.0,...,1.945540,8.096776,6.782923,4.930271,5.518500,5.17,155.0,5.640662,142.0,4.0
3,2016,ARG,Argentina,Latin America & the Caribbean,7.098483,5.791960,4.343930,5.744791,7.622974,10.0,...,3.260044,5.253411,6.508295,5.535831,5.369019,4.84,160.0,6.469848,107.0,3.0
4,2016,ARM,Armenia,Caucasus & Central Asia,NaN,NaN,NaN,5.003205,8.808750,10.0,...,4.575152,9.319612,6.491481,6.797530,7.378069,7.57,29.0,7.241402,57.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,2008,VEN,Venezuela,Latin America & the Caribbean,3.000000,3.781688,2.369239,3.100000,0.000000,10.0,...,2.784695,4.578318,0.315142,2.864160,4.666936,4.22,140.0,5.257879,136.0,4.0
1454,2008,VNM,Vietnam,South Asia,6.666667,4.349101,5.694847,5.600000,9.496239,5.0,...,3.626593,7.306074,0.000000,4.574683,6.307577,6.19,103.0,6.420206,106.0,3.0
1455,2008,YEM,"Yemen, Rep.",Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,2008,ZMB,Zambia,Sub-Saharan Africa,4.800000,4.578003,3.688652,4.400000,7.878084,10.0,...,4.585391,5.124436,8.520369,6.681524,6.722175,7.15,57.0,6.647724,95.0,3.0
1457,2008,ZWE,Zimbabwe,Sub-Saharan Africa,2.700000,3.991582,4.327660,3.700000,7.981019,0.0,...,4.423866,0.000000,6.973482,3.369110,4.488892,4.55,138.0,4.935571,140.0,4.0

In [9]:
Income_per_country = pd.read_excel("Data_project/Income_by_Country.xlsx")

In [19]:
#Income_per_country #Needs to grab year #Â year progression could be interesting to compare with development

In [32]:
Obesity = pd.read_csv("Data_project/Obesity_data/data.csv")

In [34]:
#Obesity Needs cleaning cleaned data is usless

In [11]:
Population = pd.read_csv("Data_project/population_by_country_2020.csv")

In [20]:
#Population Its for 2020 its a bit usless

In [39]:
Suicide_rates = pd.read_csv("Data_project/Suicide_rates.csv")

In [42]:
# Suicide_rates Needs a lot of work to adjust yeares and countries

In [45]:
Taxes = pd.read_csv("Data_project/taxes.csv")

In [47]:
# Taxes Â· needs a lot of work to adjust can maybe done in website

In [7]:


Cont = pd.read_csv("Data_project/countryContinent.csv", encoding='latin-1')

In [11]:
continents = Cont.drop(columns=["code_2", "code_3", "country_code", "iso_3166_2", "region_code", "sub_region_code"])

continents.to_csv("Data_project/cont.csv")