# Workspace, fixing up the data

In [3]:
# We want to merge income per country taxes and happiness 
import pandas as pd
import numpy as np

In [125]:
World_happiness = pd.read_csv("Data_project/World_happiness/2018.csv")
GDP_per_capita = pd.read_excel("Data_project/GDP_per_capita.xlsx")
Taxes = pd.read_csv("Data_project/taxes4.csv")

In [129]:
Taxes_clean =  Taxes.drop(columns = ["COU", "TAX", "Income Tax", "YEA", "Unit Code", "Unit", "PowerCode Code", "Reference Period Code", "Reference Period","PowerCode", "Flag Codes",  "Flags"])

In [130]:
World_happiness.rename({"Country or region" : "Country"}, axis="columns",inplace=True)
#World_happiness

In [131]:

GDP_per_capita.rename({2018 : "GDP_per_capita"}, axis="columns",inplace=True)
GDP_per_capita

                                               Country GDP_per_capita
0                                          Afghanistan           1735
1                                              Albania          12306
2                                              Algeria          13886
3                                               Angola           5725
4                                  Antigua and Barbuda          23768
..                                                 ...            ...
204                                 Sub-Saharan Africa           3552
205                          Least Developed Countries           2688
206                     Small Island Developing States          18086
207  Organization for Economic Co-operation and Dev...          40492
208                                              World          15893

[209 rows x 2 columns]

In [132]:
merge1 = World_happiness.merge(Taxes_clean, how='left', on="Country")

In [134]:
Income_per_country

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.466,0.440,0.431,0.376,0.328,0.381,0.366,0.354,0.343,...,0.409,0.426,0.421,0.435,0.438,0.436,0.435,0.434,0.434,0.432
1,Albania,0.572,0.521,0.506,0.526,0.541,0.563,0.578,0.561,0.576,...,0.686,0.693,0.699,0.700,0.705,0.707,0.711,0.717,0.721,0.727
2,Algeria,0.695,0.687,0.687,0.683,0.677,0.678,0.681,0.681,0.688,...,0.731,0.735,0.734,0.734,0.735,0.737,0.739,0.745,0.743,0.743
3,Andorra,0.936,0.934,0.929,0.923,0.922,0.923,0.929,0.942,0.947,...,0.924,0.916,0.910,0.910,0.914,0.920,0.924,0.928,0.931,0.935
4,Angola,0.562,0.576,0.431,0.428,0.388,0.506,0.505,0.530,0.527,...,0.615,0.614,0.613,0.622,0.626,0.630,0.629,0.620,0.617,0.607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,Sub-Saharan Africa,0.494,0.491,0.483,0.478,0.473,0.476,0.479,0.481,0.481,...,0.517,0.521,0.524,0.527,0.531,0.536,0.537,0.536,0.535,0.535
204,Least Developed Countries,0.395,0.392,0.383,0.382,0.372,0.381,0.387,0.392,0.396,...,0.458,0.462,0.467,0.472,0.474,0.481,0.485,0.487,0.490,0.494
205,Small Island Developing States,0.640,0.642,0.646,0.650,0.656,0.663,0.669,0.676,0.675,...,0.723,0.737,0.739,0.742,0.745,0.747,0.751,0.752,0.753,0.755
206,Organization for Economic Co-operation and Dev...,0.846,0.846,0.848,0.849,0.852,0.855,0.858,0.863,0.866,...,0.887,0.891,0.893,0.894,0.896,0.898,0.900,0.902,0.905,0.907
207,World,0.679,0.678,0.677,0.677,0.679,0.682,0.686,0.689,0.691,...,0.731,0.736,0.740,0.744,0.747,0.751,0.754,0.757,0.761,0.764

In [135]:
merge2 = merge1.merge(GDP_per_capita, how='left', on="Country")

In [136]:
merge2

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Value,GDP_per_capita
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018.0,51.1100,41899
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018.0,38.4000,65441
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018.0,55.8584,47673
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018.0,46.2400,48606
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018.0,41.6700,59019
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,NaN,NaN,2285
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,NaN,NaN,NaN
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,NaN,NaN,1678
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,NaN,NaN,775
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,NaN,NaN,660

# Cleaning up the names of merge 2 and saving it for graphing

In [144]:

merge2.rename({"Score" : "Happiness Score", "Value" : "Maximun Personal Income Tax"}, axis="columns",inplace=True)
new = merge2.drop(columns=["Year"])

In [145]:
new.to_csv("Data_project/Happiness_gdp_taxes.csv")